<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="../assets/icon/logo.png"></ion-img>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <img src="../assets/icon/Captura1.PNG" />
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Redes socialess</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Apoyo en el proceso de implementación de modelo integrando marketing digital en redes sociales           </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <img src="../assets/icon/Captura2.PNG" />
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Publicidad</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Cada pieza publicada es creada especialmente por nuestros diseñadores manteniendo el concepto y no mostrando cualquier imagen bajada en buscadores que otras empresas ya hayan usado. ¡Que todo mundo conozca tu MARCA!
</ion-card-content>
          </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <img src="../assets/icon/Captura3.PNG" />
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Asesorias</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Diseñamos estrategias en medios digitales, que nos permiten identificar y alcanzar las audiencias que deseas impacto tus ventas positivamente
</ion-card-content>
          </ion-card>
      </ion-col>
     
    </ion-row>
 
</ion-grid>

  

</ion-content>
